HANDS-ON 200 = 50 Points 

This HANDS-ON is designed to provide a comprehensive understanding of Python programming, covering essential concepts and gradually increasing in complexity.

- Now let's use all the knowledge acquired during the days between 18 and 21 of December 2023.


HANDS-ON 201: Basic Syntax and Input/Output: TOTAL 5 points

1. Introduction to Python and Basic Syntax:
   - Task: Write a Python script that prints "Hello, World!" to the console.
   - Explanation: Understand the basic structure of a Python script and the importance of the print statement.

In [1]:
print("Hello, World!")

Hello, World!

2. Variables and User Input:
   - Task: Create a program that takes the user's name as input and prints a personalized greeting.
   - Explanation: Learn how to use variables and the input() function for interactive programs.

In [2]:
user_name = input("Type your name:")
print(f'Hello, {user_name}')

Type your name:Saa
Hello, Saa

3. Arithmetic Operations:
   - Task: Write a script that performs basic arithmetic operations (addition, subtraction, multiplication, division) on two numbers.
   - Explanation: Explore the use of variables and mathematical operations in Python.

In [16]:
num1 = float(input("First number: "))
num2 = float(input("Second number: "))


sum_result = num1 + num2
print(f"Addition: {num1} + {num2} = {sum_result}")

substract_result = num1 - num2
print(f"Subtraction: {num1} - {num2} = {substract_result}")
    
if num2 == 0:
    print("Cannot divide by 0. Please provide non-zero second number")
else:
    div_result = num1 / num2
    print(f"Division: {num1} / {num2} = {div_result}")
    
mult_result = num1 * num2
print(f"Multiplication: {num1} * {num2} = {mult_result}")

First number:  2
Second number:  0

Addition: 2.0 + 0.0 = 2.0
Subtraction: 2.0 - 0.0 = 2.0
Cannot divide by 0. Please provide non-zero second number
Multiplication: 2.0 * 0.0 = 0.0

4. String Manipulation:
   - Task: Create a program that takes a user's input and prints the input string in uppercase.
   - Explanation: Introduce string manipulation and the upper() method.

In [19]:
user_input = input("Your input:")
print(f'Your string in uppercase: {user_input.upper()}')

Your input: wwAWDad

Your string in uppercase: WWAWDAD

5. Formatting Output:
   - Task: Develop a program that takes the user's age and prints a formatted message stating their age.
   - Explanation: Learn to format output using f-strings or the format() method.

In [27]:
user_age = int(input("Your age:"))

print(f"Your age is {user_age}")                # Using f-string

print("Your age is {}".format(user_age))        # Using format() method

Your age: 22

Your age is 22
Your age is 22

6. Integers:
   - Task: Write a program that performs arithmetic operations with integers and prints the results.
   - Explanation: Understand the properties and usage of integer data type.

In [36]:
num1 = int(input("First integer number: "))
num2 = int(input("Second integer number: "))

sum_result = num1 + num2
print(f"Addition: {num1} + {num2} = {sum_result}")

substract_result = num1 - num2
print(f"Subtraction: {num1} - {num2} = {substract_result}")
    
if num2 == 0:
    print("Cannot divide by 0. Please provide non-zero second number")
else:
    div_result = num1 / num2                                     
    print(f"Division: {num1} / {num2} = {div_result}")

    fdiv_result = num1 // num2                                     
    print(f"Floor Division: {num1} // {num2} = {fdiv_result}")
    
mult_result = num1 * num2
print(f"Multiplication: {num1} * {num2} = {mult_result}")

First integer number:  21
Second integer number:  0

Addition: 21 + 0 = 21
Subtraction: 21 - 0 = 21
Cannot divide by 0. Please provide non-zero second number
Multiplication: 21 * 0 = 0

7. Floats:
   - Task: Create a script that calculates the area of a circle using the radius provided by the user (use floating-point numbers).
   - Explanation: Explore the use of float data type for more precise calculations.

In [37]:
import math

radius = float(input("Circle radius is: "))

circle_area = math.pi * radius*radius

print("Circle area is: ",circle_area)

Circle radius is:  21

Circle area is:  1385.442360233099

8. Strings:
   - Task: Develop a program that manipulates strings (concatenation, slicing) to reverse a user-inputted string.
   - Explanation: Understand the properties and methods associated with string data type.

In [38]:
user_string = input("Your string with comma: ")
splited_string = user_string.split(',')

print(splited_string [::-1])            # Here we get inverse order of words

print(user_string [::-1])               # Here we get inverse order of symbols

Your string with comma:  abc,def

['def', 'abc']
fed,cba

9. Boolean:
   - Task: Write a script that compares two numbers and prints whether they are equal or not.
   - Explanation: Learn about boolean data type and comparison operators.

In [40]:
x = 10.1
y = 10.1
if x == y:
    print("Numbers are equal")
else:
    print("Numbers are not equal")

Numbers are equal

10. Lists:
    - Task: Create a program that demonstrates the use of lists by storing and printing a list of favorite foods.
    - Explanation: Introduce the concept of lists and basic list operations.

In [49]:
favorite_food_list = ['Kebab', 'Cepelinai','Beer']

for food_name in favorite_food_list:
    print(food_name)

favorite_food_list.append('Cheese')

print("Updated food list:",favorite_food_list)

Kebab
Cepelinai
Beer
Updated food list: ['Kebab', 'Cepelinai', 'Beer', 'Cheese']

11. For Loop:
    - Task: Write a program using a for loop to print numbers from 1 to 10.
    - Explanation: Understand the syntax and usage of for loops.

In [5]:
i = 1
while i <= 10:
    print(i)
    i+= 1

1
2
3
4
5
6
7
8
9
10

12. While Loop:
    - Task: Develop a program that uses a while loop to calculate the sum of numbers from 1 to 100.
    - Explanation: Explore the syntax and application of while loops.

In [52]:
num = 1
sum = 0

while num <= 100:
    sum += num
    num += 1
print(sum)

5050

13. Nested Loop:
    - Task: Create a script that uses nested loops to print a pattern (e.g., a triangle of asterisks).
    - Explanation: Understand the concept of nested loops.

In [72]:
# 1. Right triangle (without nested loop)

aster = '*'
num = 1
while num <= 10:
    print(num * aster)
    num+= 1 



# 2. Hollow triangle. It's not my code to be honest, but it is a good example with nested loops and i understand it

n = 5                                       # Number of rows
for i in range(1,n+1):                      # Outer loop for rows
    for j in range(1,2*n):                  # Inner loop for columns
            
        if i==n or i+j==n+1 or j-i==n-1:   # Conditions for creating the pattern
            print("*", end="")
        else:
            print(end=" ")
    print()

*
**
***
****
*****
******
*******
********
*********
**********
    *
   * *
  *   *
 *     *
*********

14. Break and Continue:
    - Task: Write a program that uses break and continue statements within a loop to control its execution.
    - Explanation: Learn how to use break and continue for better loop control.

In [4]:
# I want to print the first odd number in the list. Here i use continue to skip non-number list elements:

list = [2,4,4,2,10,'b',232,42,422,'a',543,21]

for i in range(len(list)):
    if type(list[i]) != int:
        i += 1
        continue
    elif (list[i] % 2) == 0:
        print(f"{list[i]} is an even number")
        i += 1        
    else:
        print(f"We found an odd number: {list[i]}\n")
        break


# Another option: i use try-except to avoid non-numbers:

for i in range(len(list)):
    try:
        if (list[i] % 2) == 0:
            print(f"{list[i]} is an even number")
            i += 1     
        else:
            print(f"We found an odd number: {list[i]}")
            break
    except:
        print(f"{list[i]} is not a number")
        i += 1

2 is an even number
4 is an even number
4 is an even number
2 is an even number
10 is an even number
232 is an even number
42 is an even number
422 is an even number
We found an odd number: 543

a is not a number
2 is an even number
4 is an even number
4 is an even number
2 is an even number
10 is an even number
b is not a number
232 is an even number
42 is an even number
422 is an even number
a is not a number
We found an odd number: 543

15. Loop with Lists:
    - Task: Develop a program that uses a loop to iterate through a list and print its elements.
    - Explanation: Combine loops with the manipulation of lists.

In [3]:
my_list = ['apple','banana','kiwi','melon','grape']

for fruit in my_list:
    print(fruit)
    
# Another option:
for i in range(len(my_list)):
     print(my_list[i])

apple
banana
kiwi
melon
grape
apple
banana
kiwi
melon
grape

16. Function Definition:
    - Task: Define a function that prints a custom greeting message when called.
    - Explanation: Understand the syntax and structure of function definition.

In [8]:
def greeting():
    print("Custom greeting!")

greeting()

Custom greeting!

17. Function with Parameters:
    - Task: Write a function that accepts two parameters (numbers) and returns their sum.
    - Explanation: Explore functions with parameters and return statements.

In [11]:
def sum_func(a, b):
    print(a+b)
    
sum_func(10, 5.6)

15.6

18. Default Parameters:
    - Task: Create a function that has default parameters and demonstrate calling the function with and without arguments.
    - Explanation: Understand the concept of default parameters in functions.

In [23]:
def my_func(a, b = "country"):
    print(f"{a} is a {b}")
    
my_func("Lietuva")
my_func("Vilnis", "city")

Lietuva is a country
Vilnis is a city

19. Recursive Function:
    - Task: Develop a recursive function that calculates the factorial of a given number.
    - Explanation: Introduce the concept of recursive functions.

In [34]:
def fact(num):
    if num <= 1:
        return num
    else:
        return(fact(num-1)*num)
fact(5)

120

20. Lambda Function:
    - Task: Write a program that uses a lambda function to square each element of a list.
    - Explanation: Learn the basics of lambda functions for concise, one-line operations.

In [7]:
my_list = [2,5,10,-53,24,221,-21,2.4]

squared_list = list(map(lambda a: a*a, my_list))
print(squared_list)

[4, 25, 100, 2809, 576, 48841, 441, 5.76]

21. Sets:
    - Task: Create a program that demonstrates the use of sets by performing set operations (union, intersection, difference).
    - Explanation: Introduce the concept of sets and their operations.

In [9]:
set_a = {4, 2, 3, 12 , 5}
set_b = {4, 5, 6, 7, 8}
set_c =  {9, 10, 12, 5}

set_d = set_a | set_b | set_c       # Union
print(set_d)

set_d = set_a & set_b & set_c       # Intersection
print(set_d)

set_d = set_a - set_b - set_c       # Difference
print(set_d)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12}
{5}
{2, 3}

22. Tuples:
    - Task: Write a script that uses tuples to store coordinates (x, y) and prints them.
    - Explanation: Understand the properties and immutability of tuples.

In [147]:
my_tuple = (54.33, 67.22)
for coordinate in my_tuple:
    print(coordinate)

my_tuple_2 = (60)         # Creating int, not a tuple
print(type(my_tuple_2))

my_tuple_2 = (60,)      # The way to create tuple of one element
print(type(my_tuple_2))

my_tuple[0] = 22.11     # We have TypeError: 'tuple' object does not support item assignment

54.33
67.22
<class 'int'>
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

23. Combining Lists, Sets, and Tuples:
    - Task: Develop a program that combines elements from a list, a set, and a tuple, then prints the result.
    - Explanation: Learn how to work with different data structures simultaneously.

In [5]:
my_list = ['Fred','Dick','Jeela']
my_set = {2,5,11,23,41,14}
my_tuple = ('Lara','Cost')

my_new_list = []

for element in my_list:
    my_new_list.append(element)
for element in my_set:
    my_new_list.append(element)
for element in my_tuple:
    my_new_list.append(element)

for element in my_new_list:          # my_new_list containes elements from list, set and tuple
    print(element)

Fred
Dick
Jeela
2
5
23
41
11
14
Lara
Cost

24. Dictionary Basics:
    - Task: Create a program that uses a dictionary to store and print information about a person (name, age, city).
    - Explanation: Introduce the concept of dictionaries and key-value pairs.

In [8]:
key = ['name','age','city']
value = ['Mike', 21, 'Kaunas']

mydict = {k:v for (k,v) in zip(key,value)}  # Creation and filling the dictionary

print(type(mydict))
print(mydict['age'])

for key, value in mydict.items():            # Printing information about the person
  print(key, value)

<class 'dict'>
21
name Mike
age 21
city Kaunas

25. Nested Dictionaries:
    - Task: Develop a script that uses nested dictionaries to represent a simple organizational structure.
    - Explanation: Understand how to structure nested dictionaries.

In [145]:
forward = { "name" : "Ronaldo", "year" : 1976 }
midfielder = { "name" : "Gerrard", "year" : 1980 }
defender = { "name" : "Carlos", "year" : 1973 }

team = { "forward" : forward, "midfielder" : midfielder, "defender" : defender }

print(team["defender"]["name"],'\n')

for  team_role, player_info in team.items():               # Getting all key:value pairs from nested dictionary
    print("Team role:", team_role)
    
    for key in player_info:
        print(key,':', player_info[key])

Carlos

Team role: forward
name : Ronaldo
year : 1976
Team role: midfielder
name : Gerrard
year : 1980
Team role: defender
name : Carlos
year : 1973

26. Accessing Dictionary Elements:
    - Task: Write a program that demonstrates different ways to access elements in a dictionary.
    - Explanation: Explore methods for accessing and manipulating dictionary elements.

In [63]:
mydict = {        
    'color': 'blue',
    'model': 'Mustang',
    'manufacturer': 'Ford',
    'year': '1969'
}

print(mydict,"\n")

print(mydict.keys(),"\n")        # Provide all the keys

print(mydict.values(),"\n")      # Provide all the values

print(mydict.items(),"\n")       # Provide all key-value pairs

for key, value in mydict.items():  
  print(key, value)
print("\n")

for key in mydict:
    print(key,':',mydict[key])
print("\n")

print(mydict['model'],"\n")      # Provide the value corresponding to the key 'model'

print(mydict.get('year'))        # Provide the value corresponding to the key 'year' with method .get()

{'color': 'blue', 'model': 'Mustang', 'manufacturer': 'Ford', 'year': '1969'}

dict_keys(['color', 'model', 'manufacturer', 'year'])

dict_values(['blue', 'Mustang', 'Ford', '1969'])

dict_items([('color', 'blue'), ('model', 'Mustang'), ('manufacturer', 'Ford'), ('year', '1969')])

color blue
model Mustang
manufacturer Ford
year 1969


color : blue
model : Mustang
manufacturer : Ford
year : 1969


Mustang

1969

27. Dictionary Operations:
    - Task: Create a script that adds, updates, and deletes elements in a dictionary based on user input.
    - Explanation: Learn basic dictionary operations.

In [4]:
key = input("Please provide your comma-separated keys: ").split(',')          # Recommended:  color, model, manufacturer, year
value = input("Please provide your comma-separated values: ").split(',')      # Recommended:  blue, Mustang, Ford, 1969


mydict = {k:v for (k,v) in zip(key,value)}            # Creating dictionary from users input
print("Your initial dictionary: ", mydict)

mydict['color'] = 'red'                               # change value corresponding to existing key 'color'
print("Color was changed: ", mydict)

mydict.update({'transmission': 'AT'})                 #  add new key:value pair
print("Transmission type was added: ", mydict)

del mydict['color']                                   # delete key 'color' and corresponding value
print("Color was removed: ", mydict)

Please provide your comma-separated keys:  color, model, manufacturer, year
Please provide your comma-separated values:  blue, Mustang, Ford, 1969

Your initial dictionary:  {'color': 'blue', ' model': ' Mustang', ' manufacturer': ' Ford', ' year': ' 1969'}
Color was changed:  {'color': 'red', ' model': ' Mustang', ' manufacturer': ' Ford', ' year': ' 1969'}
Transmission type was added:  {'color': 'red', ' model': ' Mustang', ' manufacturer': ' Ford', ' year': ' 1969', 'transmission': 'AT'}
Color was removed:  {' model': ' Mustang', ' manufacturer': ' Ford', ' year': ' 1969', 'transmission': 'AT'}

28. Conditional Statements:
    - Task: Write a program that uses if-elif-else statements to determine if a number is positive, negative, or zero.
    - Explanation: Understand the syntax and usage of conditional statements.

In [36]:
num = -11
if num > 0:
    print("Your number is positive")
elif num < 0:
    print("Your number is negative")
else:
    print("It is zero")

Your number is negative

29. Logical Operators:
    - Task: Develop a program that uses logical operators (and, or, not) to combine multiple conditions.
    - Explanation: Learn how to use logical operators for more complex conditionals.

In [21]:
# A simple function to check credability of the person before giving him a money loan
# (it is just my fantazy, i believe it is not that simple in reality))

def credability (credit_history, salary):
    credit_history = input("Please provide credit history (good/bad): ")
    salary = int(input("Please provide salary: "))

    if credit_history != 'bad' or credit_history == 'bad' and salary >= 10000:
        return("Сredit approved")
    else:
        return("Сredit denied")

print(credability (credit_history, salary))

Please provide credit history (good/bad):  bad
Please provide salary:  11000

Сredit approved

30. Nested Conditionals:
    - Task: Create a script that uses nested if statements to categorize a student's performance based on exam scores.
    - Explanation: Understand the structure and application of nested conditional statements.

In [142]:
import random

scores_list = random.sample(range(2, 11), 5)                     # Generate 5 random scores between 2 and 10
print(f"Your scores are: {scores_list}")

average_score = round(sum(scores_list) / len(scores_list), 1)
print(f"Your average score is: {average_score}\n")

scholarship = True

if average_score >= 6:
    print("Average score threshold has been crossed!")
    for i in range(len(scores_list)):
        if scores_list[i] < 4:
            i += 1
            scholarship = False                                  # If at least one score is < 4, scholarship burns

    if scholarship:
        print("And you even get scholarship!")
else:
    print("Average score is insufficient...")

Your scores are: [7, 9, 8, 5, 10]
Your average score is: 7.8

Average score threshold has been crossed!
And you even get scholarship!